<div class="streams">
    <div>Первый стрим {{ firstStream | async }}</div>
    <div>Второй стрим {{ secondStream | async }}</div>
    <div>Третий стрим {{ lastStream | async }}</div>
</div>

<button (click)="onClick()">update</button>
